extends layout

block content
  div(class="row w-100 m-0" style="height: 100vh;")
    div(class="col-4 m-auto d-flex")
      form(action="/", method="post" class="m-auto index-form p-5")
        h4(class="text-center") Dashboard ID:
        div(class="form-row justify-content-center")
            input(type="text" name="dashboardId", class="form-control", required)
            input(type="submit", value="Go", class="btn btn-primary mt-3")
      