extends layout

block content
  if menuId
    div(class="container d-flex" style="height: 100vh;")
      div(class="jumbotron m-auto p-5")
        h1(class="display-1 mb-4") Menu Not Found
        p(class="text-center")= `Menu ${menuId} not found`

  if cardId
    div(class="container d-flex" style="height: 100vh;")
      div(class="jumbotron m-auto p-5")
        h1(class="display-1 mb-4") Card Not Found
        p(class="text-center")= `Card ${cardId} not found`