extends layout

block content
  div(class="display-card w-100" style=`background: url("data:${contentType};base64, ${bgImage}") center/cover no-repeat; height: 100vh;`)
    div(class="row h-100 m-0 w-100")
      div(class="col-7 d-flex justify-content-center")
          h1(class="display-4 align-self-center") #{card.title}
      div(class="col-5 d-flex justify-content-center items-column")
          ul(class="align-self-center w-100 item-list")
            each item in card.items
              li(class="lunch-item mt-2 mb-2") #{JSON.parse(item.data).title}
